In [274]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.svm import LinearSVC
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
import mglearn
from sklearn.impute import SimpleImputer
from sklearn.linear_model import Ridge
import numpy as np


# Load your CSV data into a DataFrame
df = pd.read_csv('../data/raw_data.csv')

In [275]:
# Assuming loan_df is your DataFrame and 'LoanAmount' is the column to be imputed
loan_df = df[['LoanAmount']]  # Selecting 'LoanAmount' column as a DataFrame

# Impute missing values using the mean strategy
imp_num = SimpleImputer(strategy='mean')
loan_df_imputed = pd.DataFrame(
    imp_num.fit_transform(loan_df),  # Impute missing values
    columns=loan_df.columns  # Keep the original column name
)

# Assign the imputed values back to the original DataFrame
df['LoanAmount'] = loan_df_imputed['LoanAmount']


# check missing values in %age
missing_values = (
    df.isnull().sum()/len(df)*100
).astype(int)

print(f'Column\t\t\t% missing')
print(f'{"-"}'*35)
missing_values

Column			% missing
-----------------------------------

Loan_ID              0
Gender               2
Married              0
Dependents           2
Education            0
Self_Employed        5
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     2
Credit_History       8
Property_Area        0
Loan_Status          0
dtype: int32

In [276]:
# Assuming loan_df is your DataFrame and 'LoanAmount' is the column to be imputed
loan_term_df = df[['Loan_Amount_Term']]  # Selecting 'LoanAmount' column as a DataFrame

# Impute missing values using the mean strategy
imp_num = SimpleImputer(strategy='mean')
loan_term_df_imputed = pd.DataFrame(
    imp_num.fit_transform(loan_term_df),  # Impute missing values
    columns=loan_term_df.columns  # Keep the original column name
)

# Assign the imputed values back to the original DataFrame
df['Loan_Amount_Term'] = loan_term_df_imputed['Loan_Amount_Term']


# check missing values in %age
missing_values = (
    df.isnull().sum()/len(df)*100
).astype(int)

print(f'Column\t\t\t% missing')
print(f'{"-"}'*35)
missing_values

Column			% missing
-----------------------------------

Loan_ID              0
Gender               2
Married              0
Dependents           2
Education            0
Self_Employed        5
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       8
Property_Area        0
Loan_Status          0
dtype: int32

In [277]:
# Assuming loan_df is your DataFrame and 'LoanAmount' is the column to be imputed
Credit_History_df = df[['Credit_History']]  # Selecting 'LoanAmount' column as a DataFrame

# Impute missing values using the mean strategy
imp_num = SimpleImputer(strategy='mean')
Credit_History_df_imputed = pd.DataFrame(
    imp_num.fit_transform(Credit_History_df),  # Impute missing values
    columns=Credit_History_df.columns  # Keep the original column name
)

# Assign the imputed values back to the original DataFrame
df['Credit_History'] = Credit_History_df_imputed['Credit_History']


# check missing values in %age
missing_values = (
    df.isnull().sum()/len(df)*100
).astype(int)

print(f'Column\t\t\t% missing')
print(f'{"-"}'*35)
missing_values

Column			% missing
-----------------------------------

Loan_ID              0
Gender               2
Married              0
Dependents           2
Education            0
Self_Employed        5
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int32

In [278]:
df['Married'] = df['Married'].map({'Yes': 1, 'No': 0})
df.fillna({'Married':0}, inplace=True)
df['Self_Employed'] = df['Self_Employed'].map({'Yes': 1, 'No': 0})
df.fillna({'Self_Employed':0}, inplace=True)
df['Loan_Status'] = df['Loan_Status'].map({'Y': 1, 'N': 0})
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            614 non-null    float64
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      614 non-null    float64
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         614 non-null    float64
 9   Loan_Amount_Term   614 non-null    float64
 10  Credit_History     614 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    int64
dtypes: float64(6), int64(2), object(5)
memory usage: 62.5+ KB

In [279]:
Education_split = pd.get_dummies(
    df['Education'], 
    columns=['Education'], 
    dtype=int) # specify data type else it will return Boolean type
Education_split

     Graduate  Not Graduate
0           1             0
1           1             0
2           1             0
3           0             1
4           1             0
..        ...           ...
609         1             0
610         1             0
611         1             0
612         1             0
613         1             0

[614 rows x 2 columns]

In [280]:
Property_Area_split = pd.get_dummies(
    df['Property_Area'], 
    columns=['Property_Area'], 
    dtype=int) # specify data type else it will return Boolean type
Property_Area_split

     Rural  Semiurban  Urban
0        0          0      1
1        1          0      0
2        0          0      1
3        0          0      1
4        0          0      1
..     ...        ...    ...
609      1          0      0
610      1          0      0
611      0          0      1
612      0          0      1
613      0          1      0

[614 rows x 3 columns]

In [281]:
Dependents_split = pd.get_dummies(
    df['Dependents'], 
    columns=['Dependents'], 
    dtype=int) # specify data type else it will return Boolean type
Dependents_split

     0  1  2  3+
0    1  0  0   0
1    0  1  0   0
2    1  0  0   0
3    1  0  0   0
4    1  0  0   0
..  .. .. ..  ..
609  1  0  0   0
610  0  0  0   1
611  0  1  0   0
612  0  0  1   0
613  1  0  0   0

[614 rows x 4 columns]

In [282]:
gender_split = pd.get_dummies(
    df['Gender'], 
    columns=['Gender'], 
    dtype=int) # specify data type else it will return Boolean type
gender_split

     Female  Male
0         0     1
1         0     1
2         0     1
3         0     1
4         0     1
..      ...   ...
609       1     0
610       0     1
611       0     1
612       0     1
613       1     0

[614 rows x 2 columns]

In [283]:
df2=df.drop(['Gender','Property_Area','Education','Dependents'],axis=1)
df2 = pd.concat([df2, gender_split,Property_Area_split,Education_split,Dependents_split], axis=1)
df2

,Loan_ID,Married,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_Status,Female,Male,Rural,Semiurban,Urban,Graduate,Not Graduate,0,1,2,3+
0,LP001002,0.0,0.0,5849,0.0,146.412162,360.0,1.0,1,0,1,0,0,1,1,0,1,0,0,0
1,LP001003,1.0,0.0,4583,1508.0,128.000000,360.0,1.0,0,0,1,1,0,0,1,0,0,1,0,0
2,LP001005,1.0,1.0,3000,0.0,66.000000,360.0,1.0,1,0,1,0,0,1,1,0,1,0,0,0
3,LP001006,1.0,0.0,2583,2358.0,120.000000,360.0,1.0,1,0,1,0,0,1,0,1,1,0,0,0
4,LP001008,0.0,0.0,6000,0.0,141.000000,360.0,1.0,1,0,1,0,0,1,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,0.0,0.0,2900,0.0,71.000000,360.0,1.0,1,1,0,1,0,0,1,0,1,0,0,0
610,LP002979,1.0,0.0,4106,0.0,40.000000,180.0,1.0,1,0,1,1,0,0,1,0,0,0,0,1
611,LP002983,1.0,0.0,8072,240.0,253.000000,360.0,1.0,1,0,1,0,0,1,1,0,0,1,0,0
612,LP002984,1.0,0.0,7583,0.0,187.000000,360.0,1.0,1,0,1,0,0,1,1,0,0,0,1,0
613,LP002990,0.0,1.0,4583,0.0,133.000000,360.0,0.0,0,1,0,0,1,0,1,0,1,0,0,0

In [284]:

# Assuming your target variable is 'Loan_Status' and features are all other columns
X = df2.drop(['Loan_Status','Loan_ID'], axis=1)
y = df2['Loan_Status']
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

X

,Married,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Female,Male,Rural,Semiurban,Urban,Graduate,Not Graduate,0,1,2,3+
0,0.0,0.0,5849,0.0,146.412162,360.0,1.0,0,1,0,0,1,1,0,1,0,0,0
1,1.0,0.0,4583,1508.0,128.000000,360.0,1.0,0,1,1,0,0,1,0,0,1,0,0
2,1.0,1.0,3000,0.0,66.000000,360.0,1.0,0,1,0,0,1,1,0,1,0,0,0
3,1.0,0.0,2583,2358.0,120.000000,360.0,1.0,0,1,0,0,1,0,1,1,0,0,0
4,0.0,0.0,6000,0.0,141.000000,360.0,1.0,0,1,0,0,1,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,0.0,0.0,2900,0.0,71.000000,360.0,1.0,1,0,1,0,0,1,0,1,0,0,0
610,1.0,0.0,4106,0.0,40.000000,180.0,1.0,0,1,1,0,0,1,0,0,0,0,1
611,1.0,0.0,8072,240.0,253.000000,360.0,1.0,0,1,0,0,1,1,0,0,1,0,0
612,1.0,0.0,7583,0.0,187.000000,360.0,1.0,0,1,0,0,1,1,0,0,0,1,0
613,0.0,1.0,4583,0.0,133.000000,360.0,0.0,1,0,0,1,0,1,0,1,0,0,0

In [285]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Married            614 non-null    float64
 1   Self_Employed      614 non-null    float64
 2   ApplicantIncome    614 non-null    int64
 3   CoapplicantIncome  614 non-null    float64
 4   LoanAmount         614 non-null    float64
 5   Loan_Amount_Term   614 non-null    float64
 6   Credit_History     614 non-null    float64
 7   Female             614 non-null    int32
 8   Male               614 non-null    int32
 9   Rural              614 non-null    int32
 10  Semiurban          614 non-null    int32
 11  Urban              614 non-null    int32
 12  Graduate           614 non-null    int32
 13  Not Graduate       614 non-null    int32
 14  0                  614 non-null    int32
 15  1                  614 non-null    int32
 16  2                  614 non-null    int32
 17  3+                 614 non-null    int32
dtypes: float64(6), int32(11), int64(1)
memory usage: 60.1 KB

In [286]:
ridge10 = Ridge(alpha=0.1).fit(X_train, y_train)
print("Training set score: {:.2f}".format(ridge10.score(X_train, y_train)))
print("Test set score: {:.2f}".format(ridge10.score(X_test, y_test)))

Training set score: 0.34
Test set score: 0.25

In [287]:
ridge10 = Ridge(alpha=10).fit(X_train, y_train)
print("Training set score: {:.2f}".format(ridge10.score(X_train, y_train)))
print("Test set score: {:.2f}".format(ridge10.score(X_test, y_test)))

Training set score: 0.34
Test set score: 0.25

In [288]:
lasso001 = Lasso(alpha=0.01, max_iter=100000).fit(X_train, y_train)
print("Training set score: {:.2f}".format(lasso001.score(X_train, y_train)))
print("Test set score: {:.2f}".format(lasso001.score(X_test, y_test)))
print("Number of features used: {}".format(np.sum(lasso001.coef_ != 0)))

Training set score: 0.33
Test set score: 0.26
Number of features used: 8